
<h1><%=@user.name%></h1>
<h3>時間給<%=@user.fee%></h3>
<h3>顔出し有無<%=@user.face%></h3>
<h3>プロフィール<%=@user.profile%></h3>
<h3>評価<%=@user.value%></h3>
<img src="<%= "/user_images/#{@user.image}" %>">
<h3>メールアドレス<%=@user.mail%></h3>
<h3>対応ゲーム一覧</h3>
<% @usergame.game_users.each do |game_user| %>
    <p><%= game_user.game.name %></p>
<% end %>
<%=link_to('編集する',"mypage/edit")%>
<%=link_to("ログアウト","/logout",method:"post",class:"header__register")%>
